@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  overflow-x: hidden
  opacity: 1
  background-color: #fff
  &.ishome
    .site-header
      min-height: 500px
      .top-line
        position: absolute
        width: 100%
        z-index: 1
        .icons
            position: absolute
            right: 20px
            top: 35px
            font-size: 20px
            a
              color: white
              transition: color .2s ease
            a:hover
              color: grey
              
        .top-line-list
          position: absolute
          left: 85px
          top: 24px
          .list-items
            display: inline
            margin-left: 10px
            letter-spacing: 2px
            color: #fff
            font-family: oswald-example
            text-transform: uppercase
          a
            line-height: 1
            display: inline-block
            color: #000
            text-decoration: none
            cursor: pointer
            &:after
              display: block
              content: ""
              height: 1px
              width: 0%
              margin-left: 10px
              background-color: #fff
              transition: width .3s ease-in-out
            &:hover:after,&:focus:after
              width: 100%
        a:nth-child(2),a:nth-child(3)
          margin-left: 20px
            
        
.logo
  img
    width: 125px
    height: auto
	
.photo-section
  width: 100%
  z-index: 1
  p
    text-align: center
    font-family: oswald-example
    font-weight: bold
    text-transform: uppercase
    word-spacing: 20px
    letter-spacing: 12px
    font-size: 20px
    margin-top: 30px
    margin-bottom: 0px
    color: #BDA549
  h1
    line-height: 1
    text-align: center
    font-family: secular-example
    text-transform: uppercase
    font-size: 85px
    font-weight: bold
    color: rgba(0,0,0,0.8)
    margin: 0
    padding-top: 0
    padding-bottom: 0
  
.photo-albums
  position: absolute
  width: 100%
  z-index: 1 
  display: inline
  list-style-type: none
  text-align: center
  padding: 0px
  margin: 0
  margin-top: 50px
  align-items: center
  a
    display: inline-block
    text-decoration: none
    color: grey
    transition: color .2s ease
    font-family: oswald-example
  a:nth-child(2),a:nth-child(3),a:nth-child(4)
    margin-left: 35px
  a:nth-child(1)
    margin-left: -8px
  a:hover
    color: #000
    font-weight: bold

.container
    text-align: center
    margin-top: 100px
    .col-md-4
        padding: 0px
        img
            width: 70%

.space
    margin-top: 20px
    margin-bottom: 20px
            

section, header
  position: relative
  background-size: cover
  background-position: center bottom

section
    background-color: #fff

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

//Preloader
@mixin opacity($opacity)
  opacity: $opacity / 100
  filter: alpha(opacity=$opacity)

.preloader
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  z-index: 100
  background-color: rgba(0,0,0,0.9)
  .pulse
    position: relative
    left: 50%
    top: 50vh
    margin: 
      left: -40px
      top: -40px
    &::before, &::after
      content: ''
      border: 2px solid #BDA549
      width: 80px
      height: 80px
      border-radius: 10em
      position: absolute
    &::before
      animation: pulse-outer .8s ease-in infinite
    &::after
      animation: pulse-inner .8s linear infinite

@keyframes pulse-outer
  0%
    @include opacity(100)
  50%
    @include opacity(50)
  100%
    @include opacity(0)
@keyframes pulse-inner
  0%
    @include opacity(0)
    transform: scale(0)
  100%
    @include opacity(100)
    transform: scale(1)

::selection
	background-color: $accent
	color: #fff

@import "media" // Всегда в конце
